@page
@model IndexModel
@{
    ViewData["Title"] = "Bike- ";
}

<div class="text-center">
    <br />
    <div class="card mx-auto" style="width:90%; box-shadow: 0 0 20px 0 lightgray;">
        <div class="card-body"> 
        <h1 class="display-1"><b> <small>Bike  Management System</small> </b></h1>
        <div class="card">
            
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                    <!-- Card content here -->
                                <h5 class="card-title">Warning card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                    <!-- Card content here -->
                                <h5 class="card-title">Warning card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                    <!-- Card content here -->
                                <h5 class="card-title">Warning card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                    <!-- Card content here -->
                                <h5 class="card-title">Warning card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                                    <!-- Card content here -->
                                <h5 class="card-title">Warning card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                                    <!-- Card content here -->
                                <h5 class="card-title">Warning card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card bg-light mb-3" style="max-width: 18rem;">
                                    <!-- Card content here -->
                                <h5 class="card-title">Warning card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                    <!-- Card content here -->
                                <h5 class="card-title">Warning card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                </div>
                            </div>
                            
                        </div>
                    </div>

            
        </div>
        </div>
    </div>
   
</div>
