@page
@model IndexModel
@{
    ViewData["Title"] = "SMS- ";
}

<div class="text-center">
    <br />
    <div class="card mx-auto" style="width:90%; box-shadow: 0 0 20px 0 lightgray;">
        <div class="card-body"> 
        <h1 class="display-1"><b> <small>Bike  Management System</small> </b></h1>
        <div class="card">
            <div class="card-header bg-success text-light">
                <h1 class="display-6"><b> <small>Asp.net Razor Pages Project</small> </b></h1>
            </div>
        </div>
        </div>
    </div>
   
</div>
